@import "../../../assets/variables";


.menu-bar{
    background-color: $green;
    font-weight: bold;

    .navbar a{
        font-weight: bold;
        color: white;
        padding-right: 40px;
    }
    .nav-item{
        padding-right: 40px;
    }
    .nav-item a{
        color: white !important;
    }
}