@import '../../assets/main.scss';

section{
    .front-button{
        display: flex;
        justify-content: center;
        padding-top: 10px;;
        padding-bottom: 60px;
    }
    .btn{
        padding: 15px 30px;
        font-size: 1.2em;
        font-weight: bold;
    }

    h2{
        padding: 30px 0 5px 30px;
    }
}


.front-banner{
    background-image: url('../../assets/images/home-bg.jpg');
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 80vh;

    &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(3, 41, 21, 0.5);
    }
    

    .banner-content{
        width: 500px;
        padding: 50px 0 0 50px;
        position: absolute;
        
        h1{
            color: white;
        }

        p{
            padding-top: 15px;
            color: white;
            font-size: 1.5em;
            font-weight: 500;
            padding-bottom: 20px;
        }
        .search-icon{
            height: 50px;
            width: 50px;
            fill: white;
            transform: scaleX(-1);
        }
        input{
            border: none;
            border-bottom:3px solid white;
            color:white;
            &:focus{
                background: none;
                border-bottom:3px solid white;
            }            
        }
        input[type="text"] {
            font-size:25px;
        }

        ::placeholder{
            color: white;
            font-size: 0.9em;
            font-weight: 500;
        }

        
    }   
    @media (max-width: 576px){
        .banner-content{
            width: 80%;
        p{
            font-size: 1em;
        }
        }
        
    }
   
}

//css for front-page icons
.icon-container{  
    position: relative;
    background-color: $hel-tram;
    width: 100%;
    padding-top: 40px;   
    &::before{
        content: " ";
        @include koro("basic", $hel-tram, 400);
        width: 100%;
        height: 2em;
        position: absolute;
        top: -1em;
    }  
    
    .front-icons{        
        display: flex;
        justify-content: space-around;
    
        figure img{
             height: 80px;
        }
        figure figcaption{
            color: white;
            font-weight: bold;
            font-size: 1.2em;
            padding-top: 20px;
            text-align: center;
        }
    }   
    @media (max-width: 576px){
        .front-icons{
            figure img{
                height: 40px;
            }
            figure figcaption{
                font-size: .7em;
                padding-top: 10px;
            }
        }
        
    }

    
}

//css for language course
.language-course-row{
    position: relative;   
    
    &::before{
        content: " ";
        @include koro("basic", #fff, 400);
        width: 100%;
        height: 1em;
        position: absolute;
        top: -1em;
    }

    .language-course-container{
        padding: 20px;
        .card{
            background: $hel-light !important;           
            
            & img{
                padding: 15px;
                padding-bottom: 0;
            }
        }
        
        .card-body{
            text-align: center;
        }
        .card-subtitle{
            color: $hel-tram;
        }
        .card-text{
           color: $hel-tram;
           font-size: 1.5em;
           font-weight: bold;
        }
        .date{
            font-size: 18px;
            color: $black;
            font-weight: normal;
        }
        .card-item{
            padding: (1.25em/2) !important;
        }

        @media(max-width: 576px){
            padding: 0px;
        }
        
    }

    
}
