

@mixin jumbotron {
    height: 17rem;
    padding: 2rem;
        h2{
            color: $hel-tram;
            padding: 0;
        }

    @media(max-width: 576px){
        height:auto;
        padding: 1rem;
    }
}