@import '../../assets/main.scss';

.course-info-section{
    .banner-col{
        z-index: -1;
        overflow: hidden;
    }
    .jumbotron{
        @include jumbotron;
        padding: 0px;
        display: flex;
        .title{
            z-index: 1;
            padding: 2em 0 0 2em;
            width: 40%;
            h5{
                color: $hel-tram;
                padding-bottom: 1rem;
            }
            h2{
                font-size: 40px;
            }
        }
        & img{
            height: 17rem;
            width: 60%;
            object-fit: cover;
        }    
        &::after{
            content: " ";
            @include koro("pulse", $hel-light, 250);
            width: 32%;
            height: 3000px;
            position: absolute;
            transform-origin: top right;
            transform: rotate(90deg) translate(100%) skew(0deg, 45deg); 
        }
        
        
    }
    @media(max-width: 576px){
        .jumbotron{
            padding: inherit;
            &::after{
                display: none;
            }
            & img{
                height: 17rem;
                width: 100% !important;
                object-fit: cover;
            } 
            &:before{
                content: "";
                position: absolute;
                left: 0; right: 0;
                top: 0; bottom: 0;
                background: rgba(3, 41, 21, 0.5);
            }
            .title{
                position: absolute;
                width: 100%;
                h2, h5{
                    color: $hel-light;
                }
                h2{
                    font-size: 2rem;
                    text-align: left;
                }
            }
        }
    }
    @media(max-width: 1175px) and (min-width: 577px){
        .jumbotron{
            & img{
                height: 17rem;
                object-fit: cover;
                width: 70% !important;
            }
    
            h2{
                font-size: 30px !important;
            }

        }
        
    }

    .course-info-content{
        margin-top: 3rem !important;
    }

    .course-info-left-content{
        padding-left: 2rem;
        h3, h5, .hash-tag, .globe, .kielet-text, .language-text{
            color: $hel-tram;
        }
        h3{
            font-weight: 500;
        }
        h5{
            padding-bottom: 20px;
            font-weight: 500;
        }
        .calendar-icon{
            height: 30px;
            width: 30px;
        }
        p{
            font-size: 1em;
            font-weight: 450;
            padding-bottom: 20px;
        }
        .hash-tag{
            font-weight: 600;
        }
        .globe{
            margin-right: 10px;
        }
        .kielet-text{
            font-weight: 600;
            padding-left: 10px;
            padding-right: 10px;
        }
        .language-text{
            font-size: 1.1em;
            font-weight: 500;
        }
        .course-time-info-container{
            background-color: $hel-light;
            .cross{
               float: right;
               padding: 10px 10px 0 0;
            }
            .course-time-info{
                padding: 40px 0 20px 40px;
                line-height: .5;
            }
        }

        @media(max-width: 576px){
            h3, h5{
                font-size: 20px;
            }
            .calendar-icon{
                height: 20px;
                width: 20px;
            }
            .course-time-info-container{
                width: 90%;

                .course-time-info{
                    padding: 20px 0 10px 20px;
                }
            }
        }
        
    }

    .course-info-right-content{
        border: 1px solid black;
        padding: 20px 20px 0 20px;
        width: 60%;
        float: right;
        margin-right: 2rem !important;
        margin-bottom: 20px !important;
        .info-container{
            display: flex;
            padding-bottom: 20px;
            overflow: hidden;
            h5, p{
                padding-left: 10px;
            }
            .link{
                color: $hel-tram;
                width: 100%;
            }
            .hinta p{
                font-weight: bold;
            }
            .btn{
                width: 100%;
                background: none;
                color: black;
                border-color: black;
            }
            .circleGreen{
                color: $hel-tram;
            }
            .circleYellow{
                color: yellow;
            }
        }
        & svg{
            margin-top: 5px !important;
        }

        @media(max-width: 576px){
            width: 90%;
            margin: 0 auto !important;
            margin-bottom: 10px !important;
            float: none;
        }
    }

    .map-section{
        padding: 2rem;
        .map-container, .address-container{
            height: 300px;
        }
        .address-container{
            background: silver;
            padding: 20px;
        }
    }

    .course-info-pic-container{
        padding: 2rem;
        h4{
            text-align: center;
        }
        .course-info-pic{            
            display: flex;
            & img{
                flex-grow: 1;
                margin-right: 20px !important;
            }
            img:last-child{
                margin-right: 0px !important;
            }
        }

        @media(max-width: 576px){
            .course-info-pic{
                flex-direction: column;

                & img{
                    width: 100%;
                    margin-bottom: 10px !important;
                }
            }
        }
    }

    .interest-course-row{
        position: relative;
        &::before{
            content: " ";
            @include koro("basic", $hel-tram, 400);
            width: 100%;
            height: 2em;
            position: absolute;
            top: -1em;
        }
        background: $hel-tram;
        .interest-course-container{
            padding: 20px;
        }
        h2{
            color: white;
            padding-right: 10px;
        }
        .card{
            background: $hel-light !important;           
            
            & img{
                padding: 15px;
            }
        }
        .card-body{
            text-align: center;
        }
        .card-subtitle{
            color: $hel-tram;
        }
        .card-text{
           color: $hel-tram;
           font-size: 1.5em;
           font-weight: bold;
        }
        .card-item{
            padding: (1.25em/2) !important;
        }
    }

    .course-info-content, .course-info-pic-container, .interest-course-container, .map-section{
        @media(min-width: 1400px){
            width: 70%;
            margin: 0 auto !important;
        }
    }
    
}