@import '../../assets/main.scss';

.search-course-section{

    .jumbotron{
        @include jumbotron;
        .search-inputs{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;

            input{
                border-bottom:2px solid $hel-tram;
                &:focus{
                    background: none;
                }            
            }

            .react-select{
                .css-2o5izw {
                    border: 2px solid $hel-tram !important;
                    box-shadow: none;
                    border-color: 2px solid $hel-tram !important;
                    background: none;
                }

                .css-vj8t7z{
                    //border: none;
                    border: 2px solid $hel-tram;
                    background: none;
                    outline: none;
                }
                .css-15k3avv:active{
                    outline: none;
                }
                .css-1wy0on6 span{
                    background: none;
                }
                .css-1ep9fjw svg{
                    fill: $hel-tram;
                }
            }
        }
        .search-inputs > div{
            flex-grow: 1;
            padding: 10px;
        }
    }
    
    .media-container{
        padding: 2rem;

        .media{
            background: $hel-light;
            padding: 20px;
            margin-bottom: 20px !important;
        }
        .media-body{
            padding-left: 40px;
            span{
                font-weight: bold;
            }
            h3, h4{
                color: $hel-tram;
            }
        }
    }
}